@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html, body
{
    height: 100%;
    width: 100%
    
}

body
{
    background-color: #424874 ;
    font-family: 'Dosis', sans-serif;
}

.jumbotron
{
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 10% 20% 5% 20%;
    background-color: #a6b1e1;
}

.imageMe
{
height: 400px;
width: 300px;
border-radius: 50%;
}




.navbar
{
    
    background-color: #424874;
    
}

.scrollDiv
{
    position: fixed;
    top: 60px; /* same height as navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}