@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

html, body
{
    height: 100%;
    width: 100%
    
}

body
{
    background-color: #424874 ;
    font-family: 'Dosis', sans-serif;
}

.jumbotron
{
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin: 10% 20% 5% 20%;
    background-color: #a6b1e1;
}



.row2, .row3
{
    border-style: dotted;
    border-color: lavender;
    border-radius: 20px;
    margin-bottom: 5%;
    text-decoration: none;
}

.col1
{
    padding: 2%;
}

.card
{
height:fit-content ;
width: fit-content;
border-radius: 20px;
background-color: #a6b1e1;
color:  #424874 ;
border-style: none;
}

img
{
height: 200px;
border-radius: 20px;
}

h3
{
    color: lavender;
}
.navbar
{
    
    background-color: #424874;
    
}

.scrollDiv
{
    position: fixed;
    top: 60px; /* same height as navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}